# for Xilinx Spartan3 Starter Kit
NET  CLK         LOC="T9";
NET  LED(0)      LOC="K12";
NET  LED(1)      LOC="P14";
NET  LED(2)      LOC="L12";
NET  LED(3)      LOC="N14";
NET  LED(4)      LOC="P13";
NET  LED(5)      LOC="N12";
NET  LED(6)      LOC="P12";
NET  LED(7)      LOC="P11";
NET  CNT_HIGH(7) LOC="K13";
NET  CNT_HIGH(6) LOC="K14";
NET  CNT_HIGH(5) LOC="J13";
NET  CNT_HIGH(4) LOC="J14";
NET  CNT_HIGH(3) LOC="H13";
NET  CNT_HIGH(2) LOC="H14";
NET  CNT_HIGH(1) LOC="G12";
NET  CNT_HIGH(0) LOC="F12";
